header {
  height: 50px;
  background-color: var(--primary);
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.side-logo {
  box-shadow: 0 0 10px rgba(0,0.7);
  text-decoration: none;
  font-size: 25px;
  padding: 0px 20px;
  color: var(--body-text);
  text-transform: uppercase;
}


