<div class="card">
  <img
    class="card-img-top"
    src="https://images.pexels.com/photos/8952192/pexels-photo-8952192.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load"
    alt="post img"
  />
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <small class=" ">Design</small>
      <small class="  ml-3">Featured</small>
      <small class="text-info">views - 100,159</small>
    </div>
    <h5 class="mt-2">How to start project</h5>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio dolorem commodi dolores perspiciatis ipsa sed placeat harum! Fuga ea quaerat accusamus. Neque optio perferendis porro id eum earum dolorem sit.
    </p>
    <small class="text-warning">last updated 2025/01/17</small>
  </div>
</div>
