<section class="feature-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="h3" id="brand">featured</h2>
        <h4 class="text-white h5">audantium vero sint doloribus.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <app-postcard></app-postcard>
      </div>
      <div class="col-lg-3">
        <app-postcard></app-postcard>
      </div>
      <div class="col-lg-3">
        <app-postcard></app-postcard>
      </div>
      <div class="col-lg-3">
        <app-postcard></app-postcard>
      </div>
    </div>
  </div>
</section>

<!-- latest post -->
<section style="background-color:#262624 ; padding: 20px;" class="container mt-5">
  <div class="col-md-12 text-center">
    <h2 style="color: var(--body-text);">Latest Post</h2>
    <p style="color: var(--body-text);" >Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

  <div class="row">
    <div class="col-md-4 mt-3">
      <app-postcard></app-postcard>
    </div>
    <div class="col-md-4 mt-3">
      <app-postcard></app-postcard>
    </div>
    <div class="col-md-4 mt-3">
      <app-postcard></app-postcard>
    </div>
    <div class="col-md-4 mt-3">
      <app-postcard></app-postcard>
    </div>
    <div class="col-md-4 mt-3">
      <app-postcard></app-postcard>
    </div>
    <div class="col-md-4 mt-3">
      <app-postcard></app-postcard>
    </div>
  </div>
</section>
