/* You can add global styles to this file, and also import other style files */
:root
{
  --primary:#2E5077;
  --secondary:#4DA1A9;

  --body-text:#F6F4F0;
  --nav:#79D7BE;
}

body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: var(--body-text);
  border-radius: 10px;
}
