/* You can add global styles to this file, and also import other style files */
:root
{
  --primary:#252324;
  --bar:#484848;

  --body-text:#F6F4F0;
  --nav:#282828;
}

body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: var(--body-text);
  border-radius: 10px;
  background-color: var(--primary);
}

